body, html {
	font-family: 'Oswald', sans-serif !important;
	width: 100%;
}

ul {
    list-style: none;
}

hr {
	border-color: white;
}

h1, h2, h3 {
    font-weight: bold;
}

body {
	background-image: url("/bg.jpg");
	background-repeat: no-repeat;
  	background-attachment: fixed;
	background-size: cover;
	color: white;
}

footer {
	background-color: rgba(0,0,0,.9);
	border-radius: 0 15px 0 0;
	color: white;
	position: absolute;
	bottom: 0;
	padding: 1rem 1rem;
	text-align: center;
}

button {
	min-width: 100px;
}

.row {
	width: 100%;
	margin: auto;
}

.meme {
	max-width: 450px;
}

.class {
	width: 64px;
	height: 64px;
}

.classSelected {
	filter: invert(1);
}

.switch-wrapper {
	position: relative;
}
  
.switch-wrapper > div {
	position: absolute;
	width: 100%;
}

.footer-images img{
	vertical-align:bottom;
	border:0;
}

.input-group-append button {
	border-radius: 0;
}

.container {
	background-color: rgba(0, 0, 0, 0.9);
	padding-top: 15px;
	box-shadow: 5px 5px 5px black;
	min-height: 100vh;
}

.scroll {
	overflow-y: scroll;
}
  
.input {
	position: absolute;
	top: 20px;
	right: 50px;
	box-sizing: border-box;
	width: 0px;
	height: 63px;
	padding: 0 20px;
	outline: none;
	font-size: 18px;
	border-radius: 50px;
	color: #29313a;
	border: 3px solid #343a40;
	transition: all 0.8s ease;
  }
  
  ::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #343a40;
  }
  ::-moz-placeholder {
	/* Firefox 19+ */
	color: #343a40;
  }
  :-ms-input-placeholder {
	/* IE 10+ */
	color: #343a40;
  }
  :-moz-placeholder {
	/* Firefox 18- */
	color: #343a40;
  }

.center {
	transform: translateX(25%);
}

@media only screen and (max-width: 768px) {
	/* For mobile phones: */

	footer {
		position: fixed;
		margin: auto;
		margin-bottom: 0;
		margin-top: 0;
		padding: 0;
		bottom: 0;
	}

	.jumbotron {
		position: fixed;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		background-color: rgba(0,0,0,.42);
		max-height: 70%;
	}
}